.view,.view1,#view2{
			font-style: italic;
			background-color: red;
			color: yellow;
		}
#name{
	border: 2px solid #000;
	padding: 5px 2px 10px 4px;
	margin: 30px;

}
#name h1{
	margin: 40px;
}
#ai{
	width: 400px;
	height: 300px;
	border-radius: 30px;
}
table,td,th,tr{
	border: 2px solid #000;
	border-collapse: collapse;
}







